/* GLOBAL STYLE
=================================================*/
body {
  max-width: 50em !important;
  margin: auto;
  background-color:#FFF;
  color: #000;
  font-family: helvetica, arial, clean, sans-serif;
}
a {
  color: rgba(0,0,0,1);
  font-weight: bold;
  text-decoration: none;
  text-transform: capitalize;
}
a:hover {
  color: rgba(255,0,0,1);
  text-decoration: none;
}
p {
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 1.5em;
  text-align: justify;
}
img {
  border-radius: 5px;
  display: block;
  height: auto;
  max-width: 100%;  
}
h1,
h3 {
  margin: 0;
  padding: 0;
}
h2 {
  font-weight: normal;
  margin: 0;
  padding: 0;
}
span {
  font-size: 12px;
}
blockquote {
  font-weight: bold;
  letter-spacing: -1px;
  text-align: center;
}
blockquote p {
  text-align: center;
}
blockquote cite {
  display: block;
  font-weight: bolder;
  font-style: italic;
  text-transform: uppercase;
}
#Menu-Utama {
  margin-bottom: 75px;
}
.navbar-brand-name {
  font-weight: 600;
  font-size: 1.25rem;
}
.navbar .navbar-collapse {
  text-align: center;
}
.navbar-light .navbar-nav .nav-link {
  text-transform: uppercase;
}
#Content {
  padding: .5rem 1rem;
}
#Footer {
  font-size: 12px;
  border-top: 4px solid #DDD;
  margin-top: 50px;
  margin-bottom: 30px;
}
#Footer span {
  letter-spacing: 1px;
  padding-right: -1px;
  text-transform: capitalize;
}
#Footer .fa.fa-code {
  font-weight: bolder;
  position: relative;
  top: -1px;
}
#Footer .fa.fa-heart {
  color: #F00;
}
#Footer .SocialMedia {
  margin-top: 20px;
}
#Footer .SocialMedia ul {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
}
#Footer .SocialMedia ul li {
  float: left;
  font-size: 10px;
  padding-right: 15px;
}
#Footer .SocialMedia ul li:last-child {
  padding-right: 0px;
}
#Footer .SocialMedia ul li a {
  color: rgba(0,0,0,.5);
}
#Footer .SocialMedia ul li a:hover {
  color: rgba(0,0,0,1);
}

/* VENDOR STYLE
=================================================*/
.scrollUpButton {
  display: none;
  opacity: 1;
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: none;
  background: #000;
  color: #FFF;
  font-size: 1.5em;
  text-decoration: none;
  padding: 5px 10px 5px 10px;
}
.sscrollUpButton:hover, .scrollUpButton:focus {
  outline: none;
  text-decoration: none;
  color: #F00;
  opacity: 1;
}

/* PAGE STYLE
=================================================*/
.BlogPost .CategoryPost {
  margin-bottom: 50px;
}
.BlogPost .CategoryPost:last-child {
  margin-bottom: 0;
}
.BlogPost .CategoryPost h2 {
  font-size: 16px;
  font-weight: bold;
}
.BlogPost .CategoryPost span {
  color: #999;
}
.BlogPost .CategoryPost i {
  font-style: normal;
}
.BlogPost .CategoryPost a {
  font-size: 14px;
  letter-spacing: 0px;
  text-transform: capitalize;
}
.BlogPost ul {
  list-style: none;
  padding: 0;
}
.BlogPost ul li {
  margin-bottom: 10px;
}
.BlogPost ul li span {
  font-family: Monaco, "Courier New", monospace;
}

/* SINGLE POST STYLE
=================================================*/
#Single-Post {
  text-align: left;
  text-transform: none;
}
#Single-Post img {
  display: block;
  height: auto;
  max-width: 100%;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}
#Single-Post h1 {
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: 5px;
}
#Single-Post h3 {
  font-size: 16px;
  font-weight: 600;
}
#Single-Post .Entry-Meta {
  color: #999;
  font-size: .75em;
  margin-bottom: 30px;
}
#Single-Post .Entry-Meta span {
  font-size: 14px;
  font-weight: 300;
  margin-right: 10px;
}
#Single-Post .Entry-Meta span i {
  margin-right: 5px;
}
#Single-Post .Entry-Meta .Tags a {
  background: #333;
  color: #FFF;
  display: inline-block;
  padding: 2px 8px;
}
#Single-Post .Tags {
  margin-bottom: 20px;
}
#Single-Post .Tags ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#Single-Post .Tags ul li {
  position: relative;
  display: inline-block;
  padding-top: 5px;
  padding-right: 5px;
}
#Single-Post .Tags ul li:last-child {
  padding-right: 0;
}
#Single-Post .Tags span a {
  color: #FFF;
}
#Single-Post .Tags span a:hover {
  color: #A00;
}
#Single-Post .Tags span a::before {
  content: '#';
}
#Single-Post .Tags span a{
  background-color: #000;
  padding: 5px;
}
#Single-Post .Featured-Image {
  margin-bottom: 50px;
}
#Single-Post .Social-Sharing {
  margin-top: 20px;
  margin-bottom: 20px;
}
#Single-Post .Social-Sharing ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#Single-Post .Social-Sharing ul li {
  position: relative;
  display: inline-block;
  padding-right: 5px;
}
#Single-Post .Social-Sharing ul li:last-child {
  padding-right: 0;
}
#Single-Post .Social-Sharing ul li a {
  font-size: 1.5em;
}
#Single-Post .Related-Post {
  margin-bottom: 20px;
}
#Single-Post .Related-Post a {
  font-size:14px;
}
#Single-Post .Related-Post ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#Single-Post .Related-Post ul li {
  margin-bottom: 10px;
}
#Single-Post .Related-Post ul li:last-child {
  margin-bottom: 0px;
}

/* COMMENT TEMPLATE STYLE
=================================================*/
.Comment {
  text-transform: uppercase;
}
.Comment h3 {
  margin-bottom: 10px;
  margin-top: 10px;
  text-transform: uppercase;
}
.Comment ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
.Comment ol li {
  background: rgba(0,0,0,.1);
  margin-bottom: 20px;
  padding: 10px;
}
.Comment ol li p {
  padding: 0;
  margin: 0;
}
.Comment ol .meta {
  padding-bottom: 5px;
}
.Comment-Form {
  border-top: 1px solid #000;
  margin-top: 50px;
}
.Comment-Form input,
.Comment-Form textarea {
  background: rgba(0,0,0,.1);
  border: none;
  border-radius: 5px;
  padding: 0 10px;
  margin: 0;
  max-width: 90%;
}
.Comment-Form input:focus,
.Comment-Form textarea:focus {
  background: #AAA;
  border-radius: 5px;
  outline: none;
}
.Comment-Form input {
  height: 2.5em;
}
.Comment-Form textarea {
  overflow: auto;
  padding-right: 5px;;
}

/* 404 STYLE
=================================================*/
.Page-Not-Found #Single-Post {
  text-align: center;
}
.Page-Not-Found #Content p {
  font-size: 1.5em;
}